In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import networkx as nx

from tqdm import tqdm

In [3]:
df = pd.read_csv("./mcd_result/nodes_mcd.csv")
# df = df.drop('reviewer_id', axis=1)
df = df.drop(['reviewer_id'], axis=1)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   node_id       496 non-null    int64
 1   first_cycle   496 non-null    object
 2   second_cycle  496 non-null    object
 3   category      496 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.6+ KB
None

   node_id first_cycle second_cycle           category
0        0       other        drink     food and drink
1        1      normal    situation  place and service
2        2   mcdonalds        place  place and service
3        3        food         food     food and drink
4        4       other        place  place and service

In [11]:
# edges = []

# for idx, row in df.iterrows():
#     edges.append((row['first_cycle'], row['second_cycle']))
#     edges.append((row['second_cycle'], row['category']))
    
# edges = np.array(edges)

In [12]:
edges = df[['first_cycle', 'second_cycle']].values
Q = nx.Graph()
Q.add_edges_from(edges)
coordinates = nx.spring_layout(Q)

coordinates

{'other': array([ 0.11501345, -0.03430636]),
 'drink': array([ 0.62517049, -0.15152514]),
 'normal': array([-0.87672282,  0.13674348]),
 'situation': array([-0.68141038, -0.06062248]),
 'mcdonalds': array([-0.11271703, -0.67570574]),
 'place': array([-0.21163347, -0.46640567]),
 'food': array([ 0.64424744, -0.51219558]),
 'staff': array([-0.44001188,  0.64252977]),
 'service': array([-0.3096885 ,  0.49893167]),
 'line': array([-0.93932142, -0.22882821]),
 'order': array([ 0.87493945, -0.72667905]),
 'sandwich': array([ 0.63473687, -0.79474797]),
 'customer': array([-0.14079481,  0.60908373]),
 'chicken': array([ 0.91342178, -0.52830321]),
 'large': array([-0.72598151, -0.28299785]),
 'meal': array([ 0.65666285, -0.71375316]),
 'fry': array([ 0.78377465, -0.71563443]),
 'new': array([0.09940351, 0.16270548]),
 'job': array([0.33216155, 0.05104395]),
 'long': array([-0.84924848, -0.14231868]),
 'regular': array([-0.53416972,  0.23909737]),
 'location': array([-0.28352468,  0.01326631]),
 'cup': array([ 0.88049655, -0.19259207]),
 'coffee': array([ 0.83651733, -0.03240317]),
 'time': array([-0.14243901,  0.72670539]),
 'lady': array([-0.33533348,  0.69135673]),
 'nugget': array([ 0.83761696, -0.62409319]),
 'restaurant': array([-0.26274605, -0.76175828]),
 'extra': array([0.23560436, 0.0713098 ]),
 'people': array([-0.99671626, -0.14606935]),
 'best': array([0.6022061 , 0.68278378]),
 'emotion': array([0.59298007, 0.43054399]),
 'mcdonald': array([-0.34899318, -0.7292216 ]),
 'item': array([ 0.76659881, -0.34324107]),
 'wait': array([-0.86699148, -0.30141838]),
 'night': array([-0.95643949,  0.07369737]),
 'car': array([-0.39996236, -0.57563815]),
 'hour': array([-0.9355975 , -0.09449583]),
 'crew': array([-0.22992664,  0.69011993]),
 'experience': array([-0.46341166,  0.7534583 ]),
 'wrong': array([-8.89419920e-01, -7.43807469e-04]),
 'lid': array([0.2184938 , 0.17307729]),
 'burger': array([ 0.75069711, -0.79643146]),
 'minute': array([-1.        , -0.02071124]),
 'cream': array([ 0.68901414, -0.34955201]),
 'bag': array([ 0.31387415, -0.06542731]),
 'taste': array([ 0.20340318, -0.22550928]),
 'ice': array([ 0.89343571, -0.1031801 ]),
 'lot': array([ 0.11437762, -0.2610477 ]),
 'bad': array([0.7082017 , 0.69734831]),
 'manager': array([-0.32164799,  0.80723968]),
 'great': array([0.69060511, 0.59378608]),
 'next': array([ 0.0220963 , -0.20277111]),
 'employee': array([-0.40501769,  0.80489706]),
 'horrible': array([0.81511706, 0.42656319]),
 'pickle': array([ 0.92905687, -0.62507557]),
 'price': array([-0.54030674,  0.72270216]),
 'window': array([-0.41330719, -0.66746953]),
 'store': array([-0.16991697, -0.74942952]),
 '3rd': array([-0.00498463,  0.07447424]),
 'drive': array([-0.26123059, -0.65394199]),
 'good': array([0.7870244 , 0.64231576]),
 'management': array([-0.57063455,  0.54830011]),
 'mess': array([-0.79855161,  0.07939902]),
 'attitude': array([-0.23383534,  0.79545745]),
 'day': array([-0.80853629, -0.2353612 ]),
 'happy': array([0.86301627, 0.49692283]),
 'work': array([-0.48083832,  0.50331154]),
 'phone': array([ 0.27875975, -0.16451047]),
 'rude': array([0.83649897, 0.576987  ]),
 'one': array([-0.04466697, -0.09687649]),
 'issue': array([-0.55854772,  0.63683464])}

In [13]:
df_coor = pd.DataFrame\
            .from_dict(coordinates).T\
            .rename(columns={0: 'X', 1: 'Y'})\
            .reset_index()\
            .rename(columns={'index': 'NodeName'})

print(df_coor.info())
df_coor.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NodeName  72 non-null     object
 1   X         72 non-null     float64
 2   Y         72 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.8+ KB
None

    NodeName         X         Y
0      other  0.115013 -0.034306
1      drink  0.625170 -0.151525
2     normal -0.876723  0.136743
3  situation -0.681410 -0.060622
4  mcdonalds -0.112717 -0.675706

In [14]:
# Create connection bridge dataframe

temp_1 = df[['node_id', 'first_cycle']].rename(columns={'first_cycle': 'NodeName'})
temp_2 = df[['node_id', 'second_cycle']].rename(columns={'second_cycle':'NodeName'})

df_connection = pd.concat([temp_1, temp_2], axis=0).sort_values(by='node_id')

In [15]:
# # Create connection bridge
# edges = edges.reshape(-1)
# print(edges.shape)

# df_connector = pd.DataFrame(edges, columns=['NodeName'])

# array_idx = []
# for i in range(1, len(edges) + 1):
#     array_idx.append((i + 1) // 2)


# print(len(array_idx))
# df_connector['c_index'] = array_idx
# df_connector.head()

In [16]:
df_coor.to_csv("./mcd_result/coordinate_nodes_mcd.csv", index=False)
df_connection.to_csv("./mcd_result/connection_nodes_mcd.csv", index=False)