In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import networkx as nx

from tqdm import tqdm

In [10]:
df = pd.read_csv("./mcd_result/nodes_mcd.csv")
# df = df.drop('reviewer_id', axis=1)
df = df.drop(['reviewer_id', 'category'], axis=1)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   node_id       476 non-null    int64
 1   first_cycle   476 non-null    object
 2   second_cycle  476 non-null    object
 3   residu        476 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.0+ KB
None

,node_id,first_cycle,second_cycle,residu
0,0,normal,situation,"{'transaction', 'substance', 'someone', 'every..."
1,1,other,other,"{'transaction', 'substance', 'someone', 'every..."
2,2,mcdonalds,place,{'atmosphere'}
3,3,food,food,{'atmosphere'}
4,4,staff,service,{'atmosphere'}

In [11]:
# edges = []

# for idx, row in df.iterrows():
#     edges.append((row['first_cycle'], row['second_cycle']))
#     edges.append((row['second_cycle'], row['category']))
    
# edges = np.array(edges)

In [12]:
edges = df[['first_cycle', 'second_cycle']].values
Q = nx.Graph()
Q.add_edges_from(edges)
coordinates = nx.spring_layout(Q)

coordinates

{'normal': array([-0.03123232, -0.01982902]),
 'situation': array([-0.0098016 , -0.09962529]),
 'other': array([-0.59035061,  0.76299422]),
 'mcdonalds': array([-0.23799051,  0.4012671 ]),
 'place': array([-0.17123115,  0.35601281]),
 'food': array([ 0.58643238, -0.61844452]),
 'staff': array([-0.49342076,  0.03981079]),
 'service': array([-0.43122594, -0.04729742]),
 'order': array([ 0.64501723, -0.71222364]),
 'line': array([ 0.02202516, -0.16555184]),
 'sandwich': array([ 0.69415566, -0.63361374]),
 'chicken': array([ 0.52173273, -0.62337947]),
 'customer': array([-0.38124966, -0.09224446]),
 'fry': array([ 0.66270046, -0.66588938]),
 'large': array([-0.04006245, -0.19861239]),
 'meal': array([ 0.57822486, -0.5428175 ]),
 'long': array([ 0.01482584, -0.20777264]),
 'job': array([-0.65512817,  0.86392891]),
 'new': array([-0.52126109,  0.8246187 ]),
 'location': array([-0.29993994,  0.1577052 ]),
 'regular': array([-0.22201451, -0.07704928]),
 'cup': array([ 0.40836322, -0.87783648]),
 'drink': array([ 0.44755617, -0.79369882]),
 'coffee': array([ 0.35718009, -0.78254645]),
 'extra': array([-0.68669457,  0.8276708 ]),
 'lady': array([-0.55850831, -0.08230827]),
 'restaurant': array([-0.09152177,  0.35487967]),
 'nugget': array([ 0.61033411, -0.51503886]),
 'time': array([-0.50311668, -0.15522744]),
 'people': array([ 0.08913255, -0.12686261]),
 'best': array([ 0.86371282, -0.09144273]),
 'emotion': array([ 0.89782014, -0.02014252]),
 'mcdonald': array([-0.07331135,  0.40820833]),
 'item': array([ 0.52645064, -0.72527151]),
 'car': array([-0.12424911,  0.41577252]),
 'crew': array([-0.5000068 , -0.01109259]),
 'hour': array([ 0.07260422, -0.17250322]),
 'night': array([-0.07271524, -0.1564064 ]),
 'wait': array([-0.07340314, -0.07421665]),
 'experience': array([-0.53672353, -0.12373831]),
 'lid': array([-0.69793353,  0.76434496]),
 'burger': array([ 0.65227291, -0.54849059]),
 'wrong': array([ 0.10476   , -0.08042652]),
 'minute': array([ 0.06104647, -0.06570868]),
 'cream': array([ 0.48227403, -0.68432625]),
 'bag': array([-0.6684152 ,  0.71601742]),
 'ice': array([ 0.47498733, -0.89520283]),
 'taste': array([-0.51541784,  0.77641816]),
 'lot': array([-0.56983717,  0.8718285 ]),
 'bad': array([ 0.76947793, -0.02526749]),
 'manager': array([-0.45188975, -0.16924164]),
 'great': array([ 0.81100731, -0.04764421]),
 'next': array([-0.65017229,  0.7750042 ]),
 'employee': array([-0.54827684, -0.04169407]),
 'horrible': array([0.98496768, 0.03033868]),
 'pickle': array([ 0.53421792, -0.57156688]),
 'price': array([-0.50345661, -0.08422406]),
 'window': array([-0.10791201,  0.45789703]),
 'store': array([-0.20292911,  0.44548541]),
 '3rd': array([-0.53652534,  0.69005919]),
 'drive': array([-0.1586459 ,  0.46501133]),
 'good': array([ 0.98088347, -0.06261212]),
 'management': array([-0.46391015, -0.12333679]),
 'mess': array([ 0.07205901, -0.02078567]),
 'attitude': array([-0.43479651,  0.03193527]),
 'day': array([ 0.02073128, -0.01051695]),
 'happy': array([0.94577774, 0.06121454]),
 'work': array([-0.54397499,  0.00521012]),
 'phone': array([-0.51477741,  0.63921893]),
 'rude': array([ 1.        , -0.01552432]),
 'one': array([-0.61221828,  0.86152366]),
 'issue': array([-0.40648325, -0.14512392])}

In [13]:
df_coor = pd.DataFrame\
            .from_dict(coordinates).T\
            .rename(columns={0: 'X', 1: 'Y'})\
            .reset_index()\
            .rename(columns={'index': 'NodeName'})

print(df_coor.info())
df_coor.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NodeName  72 non-null     object
 1   X         72 non-null     float64
 2   Y         72 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.8+ KB
None

    NodeName         X         Y
0     normal -0.031232 -0.019829
1  situation -0.009802 -0.099625
2      other -0.590351  0.762994
3  mcdonalds -0.237991  0.401267
4      place -0.171231  0.356013

In [14]:
# Create connection bridge dataframe

temp_1 = df[['node_id', 'first_cycle']].rename(columns={'first_cycle': 'NodeName'})
temp_2 = df[['node_id', 'second_cycle']].rename(columns={'second_cycle':'NodeName'})

df_connection = pd.concat([temp_1, temp_2], axis=0).sort_values(by='node_id')

In [15]:
# # Create connection bridge
# edges = edges.reshape(-1)
# print(edges.shape)

# df_connector = pd.DataFrame(edges, columns=['NodeName'])

# array_idx = []
# for i in range(1, len(edges) + 1):
#     array_idx.append((i + 1) // 2)


# print(len(array_idx))
# df_connector['c_index'] = array_idx
# df_connector.head()

In [16]:
df_coor.to_csv("./mcd_result/coordinate_nodes_mcd.csv", index=False)
df_connection.to_csv("./mcd_result/connection_nodes_mcd.csv", index=False)